@import 'buttons.css';
@import 'inputs.css';
@import 'nav.css';
/* #region CSS Reboot */
*
{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after 
{
  box-sizing: border-box;
}

pre
{
    letter-spacing: 1px;
}

html 
{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

textarea, select, input, button { outline: none; }

/* #endregion */

/*
    Color Palette:
        dark-bg:     #333333
        primary:     #BBBBBB;
        light-hover: #FAFAFA
*/

html
{
    background-color: #333333;
    color: #BBBBBB;
}

.container
{
    width: 60%;
    margin: 0 auto;
}

th, h1, h2, h3, h4, h5, h6
{
    color: FEFEFE;
}

.mt-1
{
    margin-top: 2px;
}

.mt-2
{
    margin-top: 6px;
}

.mt-3
{
    margin-top: 12px;
}

.mt-4
{
    margin-top: 18px;
}

.mt-5
{
    margin-top: 24px;
}

.ml-1
{
    margin-left: 2px;
}

.ml-2
{
    margin-left: 6px;
}

.ml-3
{
    margin-left: 12px;
}

.ml-4
{
    margin-left: 18px;
}

.ml-5
{
    margin-left: 24px;
}

.mb-1
{
    margin-bottom: 2px;
}

.mb-2
{
    margin-bottom: 6px;
}

.mb-3
{
    margin-bottom: 12px;
}

.mb-4
{
    margin-bottom: 18px;
}

.mb-5
{
    margin-bottom: 24px;
}

.pt-1
{
    padding-top: 2px;
}

.pt-2
{
    padding-top: 6px;
}

.pt-3
{
    padding-top: 12px;
}

.pt-4
{
    padding-top: 18px;
}

.pt-5
{
    padding-top: 24px;
}

.pt-6
{
    padding-top: 75px;
}

.p-1
{
    padding: 2px;
}

.p-2
{
    padding: 6px;
}

.p-3
{
    padding: 12px;
}

.p-4
{
    padding: 18px;
}

.p-5
{
    padding: 24px;
}


.w-25
{
    width: 25%;
}

.w-50
{
    width: 50%;
}

.w-100
{
    width: 100%
}

.text-center
{
    text-align: center;
}

.border
{
    border: 2px solid #BBBBBB;
}

.rounded
{
    border-radius: 5px; 
}

.border-bottom
{
    border-bottom: 2px solid #BBBBBB;
}

.table
{
    border-collapse: collapse;
}

.table td, th
{
    padding: 5px;
}

.table th
{
    border-bottom: 2px solid #BBBBBB;
    background-color: #BBBBBB;
    color: #333333;
}

pre
{
    color: #ff2424;
}

.card
{
    border: 2px solid #BBBBBB;
    padding: 12px;
    border-radius: 5px;
}

.card-body
{
    padding: 16px;
}

.d-inline
{
    display: inline;
}

.d-block
{
    display: block;
}

.hint-en
{
    font-size: 0.75rem;
}

.hint-en::before
{
    content: 'Tip: '
}

.hint
{
    font-size: 0.75rem;
}

.hint::before
{
    content: 'Tipp: '
}

.source
{
    font-size: 0.75rem;
}

.source::before
{
    content: 'Forrás: '
}

a, a:visited, a:link, a:active
{
    color: #3ea8ff;
    text-decoration: none;
}

a:not(.navbar-logo):not(.navbar-item)::after, 
a:not(.navbar-logo):not(.navbar-item):visited::after, 
a:not(.navbar-logo):not(.navbar-item):link::after, 
a:not(.navbar-logo):not(.navbar-item):active::after
{
    content: ' 🔗';
}

.menu
{
    position: fixed;
}

.godot-logo
{
    width: 36px;
    vertical-align: middle;
}

label
{
    display: block
}

.content-center
{
    text-align: center;
}

.content-right
{
    text-align: right;
}

.small
{
    font-size: .75rem
}


.alert
{
    padding: 16px 24px;
    border-radius: 5px;
    display: inline-block;
}

.alert-danger
{
    background-color: rgb(255, 159, 159);
    color: rgb(177, 0, 0);
}

.l-inside
{
    list-style-position: inside;
}

.remove-comment
{
    float: right; 
    margin: 0px; 
    margin-right: 8px; 
    padding: 0px; 
}

.remove-comment input[type="submit"]
{
    color: white; 
    background:none; 
    cursor:pointer; 
    display: inline !important; 
    padding: 0px; 
    border:none;
}