.button 
{
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: none;
    background: none;
    border: 2px solid transparent;
    font-weight: bold;
    transition: all ease-in-out, background-color none;
    /* todo: bg transition */
    transition-duration: 50ms;
}

.button-sm
{
    border-radius: 5px;
    padding: 4px 6px;
    box-shadow: none;
    background: none;
    border: 2px solid transparent;
    font-weight: bold;
    transition: all ease-in-out, background-color none;
    /* todo: bg transition */
    transition-duration: 50ms;
}

.button-primary
{
    color: #BBBBBB;
    border-color: #BBBBBB;
}

.button-primary:hover
{
    cursor: pointer;
    border: 2px solid #FAFAFA;
    color: #FAFAFA;
}

.button-primary:active
{
    transition: none;
    color: #333333;
    background-color: #FAFAFA;
}

.button-secondary
{
    color: #333333;
    border: 2px solid #333333;
    background-color: rgb(182, 182, 182);
}

.button-secondary:hover
{
    cursor: pointer;
    border: 2px solid #333333;
    background-color: #FAFAFA;
}

.button-secondary:active
{
    transition: none;
    color: #333333;
    background-color: #FAFAFA;
}

.button-accept
{
    color: #2c7dda;
    border-color: #2c7dda;
}

.button-accept:hover
{
    cursor: pointer;
    border: 2px solid #3ea8ff;
    color: #3ea8ff;
}

.button-accept:active
{
    transition: none;
    color: #2c7dda;
    background-color: #3ea8ff;
}
