.input
{
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #FAFAFA;
    color: #333333;
    border-radius: 5px;
    padding: 5px 7px;
    line-height: 1.5;
    border: 2px solid #BBBBBB;
    width: 100%;
    margin: 5px 0px;
}

.input-sm
{
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #FAFAFA;
    color: #333333;
    border-radius: 5px;
    padding: 2px 3px;
    line-height: 1;
    border: 2px solid #BBBBBB;
    width: auto;
}

.f-left
{
    float: left;
}

.f-right
{
    float: right;
}

.input:focus
{
    border-color: #2c7dda
}

select
{
    min-width: 246px;
}

.form-group
{
    margin: 6px 3px;
    padding: 3px;
}