
.navbar
{
    font-size: 1.1rem;
    display: block;
    padding: 10px 15px;
    top: 0;
    z-index: 1000;
    background-color: #BBBBBB;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-nav
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.navbar-logo, .navbar-logo a
{
    display: inline-block;
    color: #333333 !important;
}

.navbar-item, 
a.navbar-item:not(.active)
{
    cursor: pointer;
    margin: 0px 6px;
    color: #BBBBBB !important;
    font-weight: normal;
    padding: 8px 16px;
    display: inline-block;
    background-color: #333333
}

.navbar-item:not(.active):hover
{
    color: #8d8d8d !important;
}

.active
{
    color: #3ea8ff !important;
}