<h1>A Godotról</h1>
<p class="pt-3">
    Ha az ember játékfejlesztésre adja a fejét, rengeteg erőforrással kell rendelkeznie.
    Egy játék elkészítése nagyon sok idő és pénz. Erre a problémára szolgálnak megoldással
    a game engine-ek (játékmotor).
</p>

<p class="pt-3">A Godot Engine teljesen ingyenes és <a href="https://github.com/godotengine/godot">nyílt forráskódú </a> .</p>

<p class="pt-3"> Az elkészített projekteket exportálhatjuk az alábbi platformokra: </p>
<div class="card-body">
    <ul class="ml-5 l-inside">
        <li>Windows</li>
        <li>macOS</li>
        <li>X11</li>
        <li>Android</li>
        <li>iOS</li>
        <li>WebAssembly</li>
        <li>Oculus Rift</li>
        <li>SteamVR</li>
    </ul>
</div>
<p class="pt-1">(Hívatalosan a játékkonzolokat (pl.: Xbox, PS4) nem támogatja, de harmadik féltől származó szolgáltatásokon keresztül exportálhatjuk játékunkat ezekre a platformokra is.)</p>

<p class="pt-3">A Godot Engine legfrissebb stabíl verziója letölthető a<a hres="https://godotengine.org/"> weboldalukról. </a> </p>
<p> Illetve a <a hres="https://store.steampowered.com/app/404790/Godot_Engine/"> Steam webáruházról. </a></p>
<p> Ha magunknak szeretnénk compile-olni <a href="https://docs.godotengine.org/en/3.2/development/compiling/compiling_for_windows.html">itt </a>
    találunk részletes leírást, hogy hogyan is kell. </p>

<p class="pt-3">Néhány játék ami a Godot Engine-nel készült:</p>

<table class="table mt-3 w-100 text-center border rounded">
    <tr>
        <th class="w-50"> Játék neve </th>
        <th class="w-50"> Elérhetőségek </th>
    </tr>
    <tr>
        <td> Resolutiion </td>
        <td> <a href="https://store.steampowered.com/app/975150/Resolutiion/">Steam</a> </td>
    </tr>
    <tr>
        <td> RPG in a Box </td>
        <td> 
            <a href="https://store.steampowered.com/app/498310/RPG_in_a_Box/">Steam</a>,
            <a href="https://www.rpginabox.com/">Weblap</a>
        </td>
    </tr>
    <tr>
        <td> Gravity Ace </td>
        <td> 
            <a href="https://store.steampowered.com/app/1003860/Gravity_Ace/">Steam</a>,
            <a href="https://gravityace.com/">Weblap</a>
        </td>
    </tr>
    <tr>
        <td> The Garden Path </td>
        <td> 
            <a href="https://carrotcakestudio.itch.io/thegardenpath">itch.io</a>
        </td>
    </tr>
</table>

<p class="pt-3">Mivel még elég fiatal a játékmotor és egy nagyobb játék elkészítése legalább 2-3 év, így érthető, hogy miért nem találni túl sok játékot.</p>