<h2 class="mt-4 mb-4">Godot Editor</h2>
                
<img class="w-100" src="resources/images/godot_editor.png" />

<div class="card-body">
    <ul class="ml-5 l-inside">
        <li>1.: Itt tudunk váltani a 2d, 3d és script nézet között.</li>
        <li>2.: Itt tudjuk futtatni a fő vagy aktuális scene-t. Illetve választani a GLES2 (OpenGL 2.0) és GLES3(OpenGL 3.0) API-ok közül. </li>
        <li>3.: Itt tudjuk változtatni a kiválasztott node tulajdonságait.</li>
        <li>4.: Itt láthatjuk a console-t/terminal-t.</li>
        <li>5.: Itt láthatjuk a projektünk fájljait.</li>
        <li>6.: Itt láthatjuk a megnyitott scene elemeit.</li>
        <li>7.: Itt láthatjuk magát a scene-t.</li>
    </ul>
</div>


<h2 class="mt-4 mb-4">Node</h2>

<p class="mb-3">A node-ok alapvető építőelemei a játékoknak.</p>
<p class="mb-3">A következő tulajdonsággal rendelkeznek:</p>
<ul class="ml-5 l-inside">
    <li>Van neve.</li>
    <li>Van szerkezthető tulajdonsága.</li>
    <li>Hozzá lehet adni másik node-hoz gyerekként.</li>
    <li>Rendelkeznek callback fügvényekkel.</li>
</ul>

<p class="mt-3 mb-3"> Például egy node a Camera2D vagy a KinematicBody2D</p>

<pclass="mt-3">Godot-ban rengeteg előre elkészített node van. Ez megkönnyíti és feldgyorsítja a fejlesztést.</p>

<h2 class="mt-4 mb-4">Scene</h2>

<p class="mb-3">A scene node-okból épül fel. Minden scene-ben van pontosan egy gyökér node.</p> 
<p class="mb-3">Mi lehet scene?</p>
<p class="mb-3">Például minden pálya egy külön scene lehet. De akár a játékos is. </p>
<p class="mb-3">Ez azért hasznos, mert így rendszerezni tudjuk a projektünket, illetve betölthetünk scene-eket scene-ekre,
így ha megváltoztatunk valamit (pl.: a játékos színét), akkor az összes többi scene-en is meg fog. </p>

<h2 class="mt-4 mb-4">Script</h2>

<p class="mb-3">Script-tekkel tudjuk futási időben változtatni a node-ok, viselkedését.</p>
<p class="mb-3">A godot jelenleg 4 nyelvet támogat:</p>

<ul class="l-inside ml-5">
    <li>GDScript</li>
    <li>VisualScript</li>
    <li>.Net / C#</li>
    <li>GDNatív / C++</li>
</ul>